*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
img{
    width: 10%;
    
}
.contact-form{
    width: 100%;
    height: 100vh;
    background: #003;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: #003;
    font-weight: 800;
    margin-bottom: 20px;
    margin-left: 55px;
   
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    background: #f5f5f5;
    font-size: 16px;
}
.submit-btn{
    padding: 15px;
    background: #003;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 20px;

}
    